* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    height: 100vh;
    display: grid;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas: "navBar navBar navBar navBar" "sidebar content content2 content2 " "sidebar content content3 content3" "footer footer footer footer ";
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 50px 1fr 1fr 50px;
}

.Item1 {
    background-color: aqua;
    color: black;
    padding: 10px;
    border: black 1px solid;
}

.Item2 {
    background-color: slateblue;
    color: black;
    padding-top: 200px;
    border: black 1px solid;
}

.Item3 {
    background-color: slategray;
    color: black;
    padding-top: 200px;
    border: black 1px solid;
}

.Item4 {
    background-color: slategray;
    color: black;
    padding-top: 80px;
    border: black 1px solid;
}

.Item5 {
    background-color: slategray;
    color: black;
    padding-top: 80px;
    border: black 1px solid;
}

.Item6 {
    background-color: springgreen;
    color: black;
    padding: 10px;
    border: black 1px solid;
}

.Item1 {
    grid-area: navBar;
}

.Item2 {
    grid-area: sidebar;
}

.Item3 {
    grid-area: content;
}

.Item4 {
    grid-area: content2;
}

.Item5 {
    grid-area: content3;
}

.Item6 {
    grid-area: footer;
}

@media (max-width: 550px) {
    .grid-container {
        grid-template-areas: "navBar navBar navBar navBar" "sidebar sidebar sidebar sidebar " "content content content content" "content2 content2 content2 content2" "content3 content3 content3 content3" "footer footer footer footer ";
        grid-template-rows: repeat(6, 1fr);
    }
    .Item1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Item2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Item3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}